/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {            
// Ulfbert
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  HOME |
// |  TAB  |  Q  |  W  |  F   |  P   |  G   |                   |  J   |  L    |  U    |  Y   |   @   |  END  |
// |  CTRL |  A  |  R  |  S   |  T   |  D   |                   |  H   |  N    |  E    |  I   |   O   |  DEL  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |    "   |  |   ?   |  K   |  M    |  .    |  ,   |   /   | SHIFT |
//                     | GUI  | ALT  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  |  ;    |

            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                     &kp N6 &kp N7   &kp N8    &kp N9    &kp N0   &kp HOME
&kp TAB   &kp Q  &kp W  &kp F    &kp P    &kp G                      &kp J  &kp L    &kp U     &kp Y     &kp AT   &kp END
&kp LCTRL &kp A  &kp R  &kp S    &kp T    &kp D                      &kp H  &kp M    &kp E     &kp I     &kp O    &kp DEL
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B  &kp DQT   &kp QMARK &kp K  &kp N    &kp DOT   &kp COMMA &kp FSLH &kp RSHFT
                        &kp LGUI &kp LALT &mo 1  &kp SPACE &kp RET   &mo 2  &kp BSPC &kp SEMI
            >;
        };

        lower_layer {
// Ulfbert
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |  $   | "|"  |  =   |                   |  !   |  &    |  _    |      |       |       |
// |   `   |  *  |  /  |  {   |  }   |  \   |                   |  ;   |  (    |  )    |  SQ  |   @   |   ~   |
// | SHIFT |     |     |      |  <   |  >   |    +   |  |   -   | "["  | "]"   |       |      |       | SHIFT |
//                     | GUI  | ALT  |      |  SPACE |  | ENTER |      | BSCP  |       |
            bindings = <
&none     &none    &none    &none    &none    &none                          &none    &none    &none     &none    &none  &none 
&none     &none    &none    &kp DLLR &kp PIPE &kp EQUAL                      &kp EXCL &kp AMPS &kp UNDER &none    &none  &none 
&kp GRAVE &kp STAR &kp FSLH &kp LBRC &kp RBRC &kp BSLH                       &kp SEMI &kp LPAR &kp RPAR  &kp APOS &kp AT &kp TILDE
&trans    &none    &none    &none    &kp LT   &kp GT    &kp PLUS   &kp MINUS &kp LBKT &kp RBKT &none     &none    &none  &trans
                            &trans   &trans   &none     &trans     &trans    &none    &trans   &none 
            >;
        };

        raise_layer {
// Ulfbert
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |  %   |                   |  #   |       |       |      |       |       |
// |   F2  |  F3 |  F6 |  F7  |  F1  |  F5  |                   |      |   <-  |   v   |  ^   |  ->   |       |
// |   F8  |  F9 |  F10|  F12 |  F4  |  F11 |        |  |       |      |       |       |      |       |       |
//                     |  GUI |  ALT |      |  SPACE |  | ENTER |      |  BSCP |       |
            bindings = <
&none  &none  &none   &none    &none    &none                        &none    &none    &none    &none  &none     &none 
&none  &none  &none   &none    &none    &kp PRCNT                    &kp HASH &none    &none    &none  &none     &none 
&kp F2 &kp F3 &kp F6  &kp F7   &kp F1   &kp F5                       &none    &kp LEFT &kp DOWN &kp UP &kp RIGHT &none 
&kp F8 &kp F9 &kp F19 &kp F12  &kp F4   &kp F11   &none      &none   &none    &none    &none    &none  &none     &none 
                      &kp LGUI &kp LALT &none     &kp SPACE  &kp RET &none    &kp BSPC &none 
            >;
        };
    };
};
